/*
reset

helpers

wrapper

authorization
 */


/* reset */
*,
html,
body {
    margin: 0;
    padding: 0;
    border: 0;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration:none;
    color: black;
}

/* helpers */
body {
    font-size: 16px;
    font-family: Arial;
}
input {
    border: none;
    border-bottom: 1px solid black;
    padding: .125rem;
}
button {
    padding: .125rem;
    background-color: rgba(0, 0, 0, 0);
}
.button__click,
button {
    padding: .125rem;
    border: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid black;
}
.button__click:active,
button:active {
    border: 1px solid black;
}
.input__hide {
    display: none;
}
.authorization__photo {
    border-bottom: 1px solid black;
    padding-bottom: .25rem;
}
/* wrapper */
.wrapper {

}


/* authorization */
.authorization {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;

    flex-direction: column;
}
.login {
    padding-top: 1rem;
}
.authorization__form{
    padding: 0 2rem 2rem 2rem;

    border: 1px solid gray;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;

    -webkit-box-shadow: 1px 0 4px 6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 0 4px 6px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 0 4px 6px rgba(34, 60, 80, 0.2);

    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    -webkit-transition: all .25s ease-out;
}
.authorization__form:hover {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);

    font-size: 1.05em;
}
.authorization__login {
    padding-bottom: 1rem;
}
.authorization__login > * {
    margin-top: .5rem;
}
.authorization__photo {

}