@import "_null";

html, body {
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}

.arrow {
    width: 1rem;
    height: 1rem;
    border-top: 0.25rem solid #000000;
    border-right: 0.25rem solid #000000;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);

    -webkit-transition: 200ms;

    -o-transition: 200ms;

    transition: 200ms;
}

.btn {
    padding: 1.5rem 2.875rem;

    font-size: 1.375rem;
    color: #FFFFFF;
    background: #FF981A;

    border-radius: 3rem;

    -webkit-transition: 200ms;

    -o-transition: 200ms;

    transition: 200ms;
}

.btn:hover {
    background-color: rgb(255, 112, 26);
}

.btn:active {
    background-color: rgb(255, 82, 26);
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
}

.title__page {
    font-size: 2.625rem;
    color: #464646;
}

.text__page {
    font-size: 1.5rem;
}

.list_item::first-letter {
    color: #FF981A;
}

.section__inner {
    padding: 0 5.25%;
}




.greeting {
    background: url('../img/cafe-5635015_1920 1.png') 0 0 / 100% auto no-repeat;
    color: #FFFFFF;
}


.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.19);
}

.header__nav {
    font-family: 'Comfortaa', cursive;
    font-size: 1.375rem;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
}

.header__nav_item {
    margin-right: 1.5rem;
    
    a {
        color: #FFFFFF !important;
    }
}

.header__nav_item:hover {
    margin-bottom: -2px;
    a {
        -webkit-transition: 200ms;
        -o-transition: 200ms;
        transition: 200ms;
        border-bottom: 2px solid #FF981A;
    }
}

.header__nav_item:nth-last-child(1) {
    margin-right: 0;
}

.header__inst {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    span {
        color: #FFFFFF !important;
        margin-left: 0.75rem;
    }
}

.greeting__description {
    padding: 6.25rem 0 15rem;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    & > * {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 40%;
                flex: 0 0 40%;
    }
}

.greeting__title {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;

    margin-bottom: 1rem;
    line-height: 4.5rem;
}

.greeting__text {
    font-size: 1.625rem;
    line-height: 1.875rem;

    margin-bottom: 2.25rem;
}

.greeting__text:nth-last-child(1) {
    margin-bottom: 0;
}

.greeting__button {
    padding: 1.25rem 2.25rem;

    border-radius: 3rem;
    border: 3px solid #E5E5E5;

    background: none;
    color: #FFFFFF;
    font-size: 1.5rem;
}

.greeting__button:hover {
    border: 3px solid rgb(210, 210, 210);;
    color: rgb(210, 210, 210);;
}

.greeting__button:active {
    border: 3px solid rgb(190, 190, 190);;
    color: rgb(190, 190, 190);;
}




.about__title {
    margin: 8.5rem 0 2.875rem;
}

.about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin-bottom: 17.75rem;

    & > * {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 45%;
                flex: 0 0 45%;
    }
}

.about__left {

    & > * {
        margin-top: 1.75rem;
    }
}

.about__right {
    border-radius: 0.5rem;

    img {
        width: 94%;
    }
}




.why {
    // background: url('../img/cafe-5579069_1920 1.png') 0 0 / 100% auto no-repeat;
    background: url('../img/cafe-5579069_1920 1.png') 0 0 / 100% auto no-repeat;
}


.why__title {
    text-align: center;
    color: #FFFFFF;
    padding: 6.25rem 0 5.75rem;
}

.why__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 10rem;
}

.why__container_item {
    text-align: center;
    
    padding: 3.25rem 3.75rem 3.75rem;
    margin-right: 1.5rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 20%;
            flex: 1 0 20%;

    background: rgba(255, 255, 255, 0.87);
    border-radius: 0.5rem;

    .why__container_title {
        font-size: 2.25rem;
        padding-top: 2.75rem;
    }

    .why__container_text {
        font-size: 1.375rem;
        padding-top: 1.75rem;
    }
}

.why__container_item:nth-child(3),
.why__container_item:nth-last-child(1) {
    margin-right: 0;
}

.why__container_item:nth-child(-n+3) {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 27%;
            flex: 1 0 27%;
    padding-top: 4.75rem;
    margin-bottom: 1.5rem;
}




.team__title {
    margin: 8.5rem 0 4rem;
}

.team__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin-bottom: 13.5rem;

    & > * {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 38%;
                flex: 0 0 38%;
    }
}

.team__left {
    img {
        border-radius: 0.5rem;
    }
}

.team__text {
    font-size: 1.5rem;
    margin-bottom: 1.75rem;
}

.team__text:nth-last-child(1) {
    margin-bottom: 0;
}




.opportunities {
    background: url('../img/coffee-5132832_1920 1.png') 0 0 / 100% auto no-repeat;
}

.opportunities__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #FFFFFF;
    padding: 7rem 0 8.75rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    & > * {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 45%;
                flex: 0 0 45%;
    }
}

.opportunities__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding-top: 0.75rem;
}

.opportunities__right_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    margin-left: 6.75%;
}

.opportunities__guests {
    margin-bottom: 6.25rem;
    margin-left: 20%;
}

.opportunities__title {
    color: #FFFFFF;
    margin-bottom: 2.75rem;
}

.opportunities__text {

    & * {
        margin-bottom: 1.75rem;
    }
}




.services__title {
    color: #161616;
    text-align: center;

    margin: 8.5rem 0 5.5rem;
}

.services__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    & > .services__list {
        -webkit-box-flex: 100%;
            -ms-flex: 100%;
                flex: 100%;
    }
}

.services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.services__list_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    font-size: 2.25rem;
    color: #FFFFFF;
    padding: 2.25rem 4rem;
    text-align: center;

    background: #35312A;
    border-radius: 0.625rem;

    margin-bottom: 1.375rem;
    margin-right: 1rem;
}

.services__list_item:nth-child(3n) {
    margin-right: 0;
}

.services__list_item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.services__btn {
    margin: 5.75rem 0 10rem;
}




.process {
    background: #EFEFEF;
}

.process__title {
    padding: 7.5rem 0 6.25rem;
    text-align: center;
    color: #161616;
}

.process__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    padding-bottom: 12.25rem;

    & > * {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 40%;
                flex: 0 0 40%;
    }
}

.process__list_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin-bottom: 5rem;
}

.process__list_item:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.process__description {
    margin-left: 1.75rem;
}

.process__description_title {
    color: #161616;
    font-size: 2.25rem;
    margin-bottom: 2.5rem;
}

.process__description_text {
    font-size: 1.5rem;
}

.process__img {
    img {
        border: 1px solid #FF981A;
        border-radius: 50%;
    }
}

.process__img.Initial {
    img {
        background: url('../img/Initial_consultation.png') no-repeat;
    }
}

.process__img.audit {
    img {
        background: url('../img/audit.png') no-repeat;
    }
}

.process__img.сontract {
    img {
        background: url('../img/сontract.png') no-repeat;
    }
}

.process__img.getting {
    img {
        background: url('../img/getting_started.png') no-repeat;
    }
}

.process__img.presentation {
    img {
        background: url('../img/presentation.png') no-repeat;
    }
}

.process__img.support {
    img {
        background: url('../img/support.png') no-repeat;
    }
}

.process__list_item:nth-child(odd) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 53%;
            flex: 0 0 53%;
}

.process__list_item:nth-child(odd)::after {
    content: url('../img/grey__arrow.svg');
    margin-left: 5%;
}




.questions__title {
    padding: 8.75rem 0 6.5rem;
    text-align: center;
}

.questions__paragraph {
    padding-bottom: 11.25rem;
}

.questions__paragraph_item {
    width: 85%;
    margin: 0 auto;

    padding: 1.75rem 2rem;
    margin-bottom: 1rem;

    font-size: 1.25rem;

    border: 1px solid #000000;
    border-radius: 0.5rem;

    -webkit-transition: 600ms;

    -o-transition: 600ms;

    transition: 600ms;
}

.questions__paragraph_item.active {
    background: #35312A;
    color: #FFFFFF;

    .paragraph__text {
        padding-top: 2.25rem;
        opacity: 1;
        height: 100%;
    }

    .arrow{
        width: 1rem;
        height: 1rem;
        border-top: 0.25rem solid #FF981A;
        border-right: 0.25rem solid #FF981A;
        -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
                transform: rotate(135deg);
    }
}

.questions__paragraph_item:nth-last-child(1) {
    margin-bottom: 0;
}

.paragraph__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.paragraph__text {
    max-width: 95%;
    opacity: 0;
    height: 0;
}




.feedback {
    background: url('../img/image 3.png') 0 0 / 100% auto no-repeat;
    color: #FFFFFF;
}

.feedback__title {
    color: #FFFFFF;
    padding: 5.25rem 0 3rem;
}

.feedback__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 17rem;
}

.feedback__left {
    padding-top: 2rem;
}

.feedback__info_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.75rem;

    img {
        margin-right: 1.875rem;
    }

    margin-bottom: 4rem;
}

.feedback__info_item:nth-last-child(1) {
    margin-bottom: 0;
}

.feedback__right {
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    margin-left: 6rem;

    form {
        height: 100%;
    }
}

.feedback__inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.25rem;
}

.feedback__input {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 30%;
            flex: 1 0 30%;

    border-radius: 5px;

    padding: 1rem;
    margin-right: 0.875rem;
}

.feedback__input::placeholder {
    color: #A6A2A2;
}

.feedback__input:nth-last-child(1) {
    margin-right: 0;
}

.feedback__textarea {
    border-radius: 5px;

    padding: 1rem;
    margin-bottom: 4.25rem;
    width: 100%;
    height: 59%;
}

.feedback__textarea::placeholder {
    color: #A6A2A2;
}

.feedback__button {
    text-align: center;
}




@media (max-width: 1880px) {
    .greeting {
        background: url('../img/cafe-5635015_1920 1.png') 0 0 / auto 100% no-repeat;
    }





    .why {
        background: url('../img/cafe-5579069_1920 1.png') 0 0 / auto 100% no-repeat;
    }




    .opportunities {
        background: url('../img/coffee-5132832_1920 1.png') 0 0 / auto 100% no-repeat;
    }




    .feedback {
        background: url('../img/image 3.png') 0 0 / auto 100% no-repeat;
    }
}





@media (max-width: 1440px) {
    html, body {
        font-size: 14px;
    }





    .why__container_item {
        padding: 2.25rem 2.75rem 2.75rem;
    }

    .why__container_item:nth-child(-n+3) {
        padding-top: 2.75rem;
    }




    .opportunities__left {
        img {
            width: 80%;
        }
    }

    .opportunities__right_img {
        margin-left: 2%;
    }




    .process__img {
        img {
            width: 200px;
        }
    }




    
}




@media (max-width: 1024px) {
    html, body {
        font-size: 12px;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .section__inner {
        padding: 0 2%;
    }

    .header__nav {
        display: none;
    }

    .header__inst {
        display: none;
    }

    .greeting__description {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

        padding-bottom: 5rem;

        & > * {
            -webkit-box-flex: 100%;
                -ms-flex: 100%;
                    flex: 100%;
        }
    }

    .greeting__right {
        margin-top: 5rem;
    }



    
    .about__title {
        margin: 4rem 0 2rem;
    }

    .about__container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: 0;

        & > * {
            -webkit-box-flex: 100%;
                -ms-flex: 100%;
                    flex: 100%;
            margin-bottom: 5rem;
        }
    }

    .about__right {
        img {
            width: 100%;
        }
    }




    .why__container {
        padding-bottom: 2rem;
    }

    .why__container_item,
    .why__container_item:nth-child(-n+3) {
        margin-bottom: 1.5rem;
        margin-right: 0;
        -webkit-box-flex: 100%;
            -ms-flex: 100%;
                flex: 100%;
    }




    .team__title {
        margin: 3rem 0 2rem;
    }

    .team__container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

        margin-bottom: 5rem;
    
        & > * {
            -webkit-box-flex: 100%;
                -ms-flex: 100%;
                    flex: 100%;
        }
    }

    .team__left {
        img {
            width: 100%;
        }
    }

    .team__right {
        margin-top: 3rem;
    }




    .opportunities__container {
        padding: 3.5rem 0 5rem;
    }

    .opportunities__left {
        display: none;
    }

    .opportunities__right {
        -webkit-box-flex: 100%;
            -ms-flex: 100%;
                flex: 100%;
    }




    .services__list_item:nth-child(n+1) {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 45%;
                flex: 0 0 45%;
        margin-bottom: 1.5rem;
        margin-right: 0;
    }

    .services__list_item:nth-child(odd) {
        margin-right: 1rem;
    }

    .services__list_item:nth-last-child(1) {
        margin-bottom: 0;
    }
    .services__btn {
        margin: 2.75rem 0 6rem;
    }




    .process__title {
        padding: 3rem 0 2rem;
    }

    .process__list {
        padding-bottom: 5rem;
    }

    .process__list_item:nth-child(n+1) {
        -webkit-box-flex: 100%;
            -ms-flex: 100%;
                flex: 100%;
        margin-bottom: 2rem;
    }

    .process__list_item:nth-last-child(1) {
        margin-bottom: 0;
    }

    .process__list_item:nth-child(odd)::after {
        content: "";
    }





    .questions__title {
        padding: 4rem 0 2rem;
        text-align: center;
    }

    .questions__paragraph {
        padding-bottom: 4rem;
    }




    .feedback__title {
        padding: 3rem 0 1.5rem;
    }

    .feedback__container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding-bottom: 7rem;

        & > * {
            -webkit-box-flex: 100%;
                -ms-flex: 100%;
                    flex: 100%;
        }
    }

    .feedback__right {
        margin-top: 2rem;
        margin-left: 0;
    }

    .feedback__textarea {
        margin-bottom: 2rem;
    }
}




@media (max-width: 600px) {
    .services__list_item:nth-child(n+1) {
        -webkit-box-flex: 100%;
            -ms-flex: 100%;
                flex: 100%;
        margin: 0;
        margin-bottom: 1rem;
    }

    .services__list_item:nth-last-child(1) {
        margin-bottom: 0;
    }
}